<p id="notice"><%= notice %></p>

<p>
  <b>Namee:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Pass:</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<% unless @user.posts.empty? %>
    <br/>              <br/> <br/>
    <h3>Posts:</h3>
    <table class="posts" summary="User posts">
      <%= render @posts %>
    </table>
    <%= will_paginate @posts %>
<% end %>