<div class="publish">Published by Envira Media</div>

<div class="head">Video Blog</div>

<div class="tagln">
  It is a <span class="italics">long</span> established fact <span class="italics">that</span> a reader<br />
  will love your work, as long as you put all you have into the project
</div>
<!--tagln ends-->

<div id="menulinks">
  <ul>
    <li><%= link_to "Home", '/posts' %></li>
    <li><%= link_to "Users", '/users' , :class => "" %></li>

    <li><%= link_to "Profile", '#' %></li>
    <li><%= link_to "Sign In", '/signin' %></li>
    <li><%= link_to "Keywords", '#' %></li>


  </ul>
</div>
<div class="clear"></div>